<app-menu></app-menu>
<div>
  <div style="text-align:center;margin-top:2%;">
    <img src="../../../assets/icono.png" style="width:25%">
    <h1>Trabajo Final de Grado Superior</h1>
    <h4>Administración de la aplicación android TULIB</h4>
    <p style="font-size:24px"><em><strong>Autor: Adrian Sebastian Pauseniuc</strong></em></p>
    <p style="font-size:24px"><em><strong>Tutor: Lorena Castellanos Cacho</strong></em></p>
    <p><em><strong>Pagina web desarrollada con API REST y Angular</strong></em></p>
  </div>
</div>

